.userData{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;

}
.dataContainer{
    box-shadow: 0 0 15px var(--sidebar-active-link); /* Light green shadow on hover */
    height: 85%;
    width: 80%;

    display: flex;
    justify-content: space-evenly;   
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 40px;
    padding: 25px;
    color: white;
    background-color: var(--app-content-main-color);
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    min-height: 550px;
    margin: 20px;
}

.dataContainer::-webkit-scrollbar {
    display: none;
}

.col{
    min-width: 28%;
}

.value{
    margin-left: 10px;
    margin-bottom: 18px;
    box-sizing: border-box;

}
.section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 30%;

    padding: 5px;
    border-radius: 20px;
}

.section:hover{
    border: solid 2px white;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 1200px) {
    .userData{
        width: 100%;
       
    }

    #col-1{
        margin-left: 0;
        margin-bottom: 11px;
    }
    .dataContainer{
        flex-direction: column;
        min-width: 90%;
        min-height: 70%;
        justify-content: flex-start;
        overflow: scroll;
    }
    .value{
        margin-left: 5px;
    }
    .headerAction{
      padding-right: 5px;
    }
 }
